/* Étape 2 */
body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    justify-content: center;
}

/*header and footer*/

header {
    background-image: url("../img/Menu.jpeg");
    background-position: center;
    background-repeat: repeat;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 120%;
}

header img {
    border-radius: 10px;
    border-radius: 10px;
    display: block;
    height : 200px;
    width : 400px;
    margin: auto;
}



footer{
    background-color: #041726;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.footer-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap : 50px;
}

.footer-address{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap : 15px;
}

.footer-separator{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.line {
    height: 1.5px;
    width: 90%;
    background-color: #4fc2ff;
    margin-bottom: 20px;
}

.h1{
    color: #4fc2ff;
    font-weight: bold;
    font-size: 150%;
}

.h1-2{
    color: white;
    font-weight: bold;
    font-size: 150%;
    font-style : italic;
}

.h2{
    color: white;
    font-size: 100%;
}


.footer-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 50%;
}


.social-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.Icon{
    background-color: #4fc2ff;
    padding: 12px;
    border-radius: 6px;
    height: 30px;
    color: white;
    font-size: 20px;
    transition: 0.2s;
    text-align: center;
}

.Icon:nth-child(odd):hover, .Icon:nth-child(even):hover{
    background-color: #00b283;
    transform : scale(120%);
    transition: 0.2s;
}


.clickable-footer {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style : italic;
}


/* Navigation entre les pages */

nav {
    display: flex;
    padding: 15px;
    margin: 15px;
    gap : 100px;
    justify-content: center;
    align-items: center;
}

nav a, button {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    align-content: center;
    align-self: center;
    color: white;
    border-radius: 5px;
    font-size: 120%;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #00455c;
    box-shadow: 0 0 10px #00455c;
    transition: 0.5s;
}

nav a:nth-child(1):hover, a:nth-child(2):hover, a:nth-child(3):hover, a:nth-child(4):hover {
    background-color: #0097ca;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    transform: scale(150%);
}



/*basic*/

section {
    margin: 15px 15px;
    text-align: center;
    background-color: white;/*#ecf39e;  voir pour changer */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

}

section h1 {
    color: #00455c;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}

.citation {
    color: #655A7C;
    font-size: 150%;
    font-style: italic;
}



#pre-about{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;

}


.about-end img{
    width: 60%;
    height: 40%;
}

about-start{
    width: 60%;
}

.creator-section {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 40px;
    border-radius: 35px;
    background-color: #fff;
}


.container-creator {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}


.chat-container {
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

.chat-header {
    background-color: #0e7013;
    color: #ebe6e6;
    padding: 10px;
    text-align: center;
}

.chat-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 40px;
}

.chat-box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 350px;
    width: 600px;
    overflow-y: scroll;
    padding: 10px;
}



.user-message, .bot-message, .og-message-bot, .og-message-user {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;

}

.user-message {
    background-color: #ffb86f;
    color: #333;
    align-self: flex-end;
    font-size: 1.2rem;
    text-align: right;

}

.bot-message {
    background-color: #8cb9ff;
    color: #333;
    align-self: flex-start;
    font-size: 1.2rem;
    text-align: left;
}

.og-message-user {
    background-color: #ffd6af;
    color: #333;
    align-self: flex-end;
    font-size: 1.2rem;
    text-align: right;
}

.og-message-bot {
    background-color: #b6d6ff;
    color: #333;
    font-size: 1.2rem;
    align-self: flex-start;
    text-align: left;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="text"]  {
    padding: 10px;
    margin-bottom: 10px;
    margin-top : 10px;
    border: 1px solid #2e7d32; /* Couleur verte */
    border-radius: 8px;
}


button, input[type="button"] {
    background-color: #00455c;
    color: white;
    font-weight: bold;
    font-size: 120%;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin : auto;
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
}

button:hover, input[type="button"]:hover {
    background-color: #0097ca;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    transform: scale(120%);
}