/* Étape 2 */
body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    justify-content: center;
}

/*header and footer*/

header {
    background-image: url("../img/Menu.jpeg");
    background-position: center;
    background-repeat: repeat;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 120%;
}

header img {
    border-radius: 10px;
    display: block;
    height : 200px;
    width : 400px;
    margin: auto;
}

footer{
    background-color: #041726;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.footer-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap : 50px;
}

.footer-address{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap : 15px;
}

.footer-separator{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.line {
    height: 1.5px;
    width: 90%;
    background-color: #4fc2ff;
    margin-bottom: 20px;
}

.h1{
    color: #4fc2ff;
    font-weight: bold;
    font-size: 150%;
}

.h1-2{
    color: white;
    font-weight: bold;
    font-size: 150%;
    font-style : italic;
}

.h2{
    color: white;
    font-size: 100%;
}


.footer-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 50%;
}


.social-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.Icon{
    background-color: #4fc2ff;
    padding: 12px;
    border-radius: 6px;
    height: 30px;
    color: white;
    font-size: 20px;
    transition: 0.2s;
    text-align: center;
}

.Icon:nth-child(odd):hover, .Icon:nth-child(even):hover{
    background-color: #00b283;
    transform : scale(120%);
    transition: 0.2s;
}

.clickable-footer {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style : italic;
}


/*basic*/

section {
    margin: 15px 15px;
    text-align: center;
    background-color: white;/*#ecf39e;  voir pour changer */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

}

section h1 {
    color: #00455c;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}

#citation, .definition {
    color: #655A7C;
    font-size: 150%;
    font-style: italic;
}



/* Section conseil*/


.habits-section {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 40px;
    border-radius: 35px;
    background-color: #fff;
}

.habits-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.habits-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.habit-card {
    background-color: #f9f9f9;
    border-radius: 16px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s;
}


.habit-card:hover {
    transform: translateY(-25px);
}

.habit-icon {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.habit-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.habit-card ul {
    padding-left: 20px;
}

.habit-card li {
    margin-bottom: 6px;
    font-size: 1.2rem;
    text-align: justify;
}

.habit-card p{
    margin-bottom: 6px;
    font-size: 1.2rem;
    text-align: center;
}

.brand-icon img {
    display: block;
    margin: 0 auto;
}

/*Section pour naviguer dans les pages (avec du spoil en gros)*/

.functionalities-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}


.pages-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    width: 700px;
}

.sample-recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.habit-icon img{
    height: 200px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#fakegraph{
    height: 450px;
    width: 609px;
}

.pages-card a{
    display: flex;
    text-decoration: none;
    align-items: center;
    align-content: center;
    align-self: center;
    color: white;
    border-radius: 5px;
    font-size: 120%;
    font-weight: bold;
    padding: 10px 20px;
    margin-top : 30px;
    background-color: #00455c;
    box-shadow: 0 0 10px #00455c;
    transition: 0.5s;
}

.pages-card a:hover{
    background-color: #0097ca;
    transform: scale(130%);
}


.vertical-separator {
    margin-top: 20px;
    height: 700px;
    width: 1.5px;
    background-color: #00455c;
    margin-bottom: 20px;
}


